In [26]:
import pandas as pd

In [27]:
dados = pd.read_csv('tabela_final_ecommerce.csv')

In [28]:
dados.columns

Index(['Unnamed: 0', 'order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'total_produto_frete',
       'cod_pedido', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'payment_type', 'payment_value', 'review_id', 'review_score',
       'review_creation_date', 'product_category_name', 'product_photos_qty',
       'product_weight_g', 'product_length_cm', 'product_height_cm',
       'product_width_cm', 'cod_produto', 'seller_zip_code_prefix',
       'seller_city', 'seller_state', 'cod_vendedor', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'cod_cliente'],
      dtype='object')

In [29]:
colunas = ['cod_pedido', 'cod_produto', 'product_category_name','product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm', 'cod_vendedor', 'cod_cliente', 'order_status', 'price', 'freight_value', 'payment_type', 'payment_value', 'customer_city', 'customer_state', 'seller_city', 'seller_state','order_purchase_timestamp' ,'shipping_limit_date', 'order_estimated_delivery_date', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'review_score']
dados_selecionados = dados[colunas]

In [30]:
dados_selecionados.columns

Index(['cod_pedido', 'cod_produto', 'product_category_name',
       'product_photos_qty', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm', 'cod_vendedor', 'cod_cliente',
       'order_status', 'price', 'freight_value', 'payment_type',
       'payment_value', 'customer_city', 'customer_state', 'seller_city',
       'seller_state', 'order_purchase_timestamp', 'shipping_limit_date',
       'order_estimated_delivery_date', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'review_score'],
      dtype='object')

In [31]:
labels = {'cod_pedido' : 'codigo_pedido' , 'cod_produto': 'codigo_produto', 'product_category_name' : 'nome_categoria_produto',
       'product_photos_qty' : 'quantidade_fotos_anuncio', 'product_weight_g' : 'peso_produto_gramas' , 'product_length_cm' : 'comprimento_produto_cm',
       'product_height_cm': 'altura_produto_cm', 'product_width_cm' : 'largura_produto_cm', 'cod_vendedor': 'codigo_vendedor', 'cod_cliente': 'codigo_cliente',
       'order_status' : 'status_pedido', 'price' : 'preco', 'freight_value' : 'valor_frete', 'payment_type' : 'tipo_pagamento',
       'payment_value' : 'valor_total_pagamento', 'customer_city' : 'cidade_cliente', 'customer_state' : 'estado_cliente', 'seller_city' : 'cidade_vendedor',
       'seller_state' : 'estado_vendedor', 'shipping_limit_date' : 'data_limite_envio', 'order_estimated_delivery_date' : 'data_estimada_entrega',
       'order_delivered_carrier_date' : 'data_estimada_envio','order_delivered_customer_date' : 'data_entrega_cliente',
       'review_score' : 'nota_cliente'}

In [32]:
dados_selecionados = dados_selecionados.rename(columns=labels)
nomes = pd.read_csv('data base/product_category_name_translation.csv')
nomes_br = nomes.product_category_name.unique()
nomes_english = nomes.product_category_name_english.unique()
nomes_completos = {}

for en, br in zip(nomes_english, nomes_br):
    nomes_completos[en] = br
    
dados_selecionados['nome_categoria_produto'].map(nomes_completos)
status = {'delivered' : 'entregue', 'shipped' : 'enviado', 'invoiced' : 'faturado', 'canceled' : 'cancelado', 'processing' : 'processando',
       'unavailable' : 'indisponível', 'approved' : 'aprovado', 'created': 'criado'}
dados_selecionados['status_pedido'].map(status)

0             entregue
1             entregue
2             entregue
3             entregue
4             entregue
              ...
119146    indisponível
119147       cancelado
119148       cancelado
119149    indisponível
119150    indisponível
Name: status_pedido, Length: 119151, dtype: object

In [33]:
dados_selecionados

,codigo_pedido,codigo_produto,nome_categoria_produto,quantidade_fotos_anuncio,peso_produto_gramas,comprimento_produto_cm,altura_produto_cm,largura_produto_cm,codigo_vendedor,codigo_cliente,...,cidade_cliente,estado_cliente,cidade_vendedor,estado_vendedor,order_purchase_timestamp,data_limite_envio,data_estimada_entrega,data_estimada_envio,data_entrega_cliente,nota_cliente
0,PED0,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE65557,...,campos dos goytacazes,RJ,volta redonda,SP,2017-09-13 08:59:02,2017-09-19 09:45:35,2017-09-29 00:00:00,2017-09-19 18:34:16,2017-09-20 23:43:48,5
1,PED7352,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE80988,...,jatai,GO,volta redonda,SP,2017-06-28 11:52:20,2017-07-05 02:44:11,2017-07-26 00:00:00,2017-07-05 12:00:33,2017-07-13 20:39:29,5
2,PED32057,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE25492,...,belo horizonte,MG,volta redonda,SP,2018-05-18 10:25:53,2018-05-23 10:56:25,2018-06-07 00:00:00,2018-05-23 14:05:00,2018-06-04 18:34:26,4
3,PED42988,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE22915,...,sao jose dos pinhais,PR,volta redonda,SP,2017-08-01 18:38:42,2017-08-07 18:55:08,2017-08-25 00:00:00,2017-08-02 19:07:36,2017-08-09 21:26:33,5
4,PED48148,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE2591,...,conselheiro lafaiete,MG,volta redonda,SP,2017-08-10 21:48:40,2017-08-16 22:05:11,2017-09-01 00:00:00,2017-08-11 19:43:07,2017-08-24 20:04:21,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE24152,...,guarulhos,SP,NaN,NaN,2018-01-16 14:27:59,NaN,2018-02-06 00:00:00,NaN,NaN,1
119147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE93287,...,santos,SP,NaN,NaN,2018-08-31 16:13:44,NaN,2018-10-01 00:00:00,NaN,NaN,5
119148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE55235,...,sao paulo,SP,NaN,NaN,2018-09-06 18:45:47,NaN,2018-09-27 00:00:00,NaN,NaN,4
119149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE51641,...,rio de janeiro,RJ,NaN,NaN,2017-08-23 16:28:04,NaN,2017-09-15 00:00:00,NaN,NaN,1
119150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE91000,...,sorocaba,SP,NaN,NaN,2017-10-10 10:50:03,NaN,2017-10-23 00:00:00,NaN,NaN,1

In [34]:
# top 10 mais vendidos por categorias
dados_selecionados['nome_categoria_produto'].value_counts().to_frame().head(10)

                        count
nome_categoria_produto
cama_mesa_banho         11990
beleza_saude            10033
esporte_lazer            9005
moveis_decoracao         8833
informatica_acessorios   8151
utilidades_domesticas    7380
relogios_presentes       6213
telefonia                4726
ferramentas_jardim       4590
automotivo               4400

In [35]:
# top 10 menos vendidos por categorias
dados_selecionados['nome_categoria_produto'].value_counts().to_frame().tail(10)

                                               count
nome_categoria_produto
flores                                            33
fashion_esporte                                   31
casa_conforto_2                                   31
artes_e_artesanato                                24
la_cuisine                                        16
portateis_cozinha_e_preparadores_de_alimentos     15
cds_dvds_musicais                                 14
pc_gamer                                          10
fashion_roupa_infanto_juvenil                      8
seguros_e_servicos                                 2

In [36]:
# top 10 vendedores com mais vendas
dados_selecionados['codigo_vendedor'].value_counts().to_frame().head(10)

                 count
codigo_vendedor
VEND2463          2155
VEND797           2130
VEND474           2017
VEND1413          1893
VEND1873          1662
VEND390           1530
VEND2720          1477
VEND1182          1463
VEND2207          1245
VEND987           1240

In [37]:
# Contagem dos status
dados_selecionados['status_pedido'].value_counts().to_frame()

                count
status_pedido
delivered      115731
shipped          1256
canceled          750
unavailable       652
invoiced          378
processing        376
created             5
approved            3

In [103]:
dados_selecionados

,codigo_pedido,codigo_produto,nome_categoria_produto,quantidade_fotos_anuncio,peso_produto_gramas,comprimento_produto_cm,altura_produto_cm,largura_produto_cm,codigo_vendedor,codigo_cliente,...,cidade_cliente,estado_cliente,cidade_vendedor,estado_vendedor,order_purchase_timestamp,data_limite_envio,data_estimada_entrega,data_estimada_envio,data_entrega_cliente,nota_cliente
0,PED0,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE65557,...,campos dos goytacazes,RJ,volta redonda,SP,2017-09-13 08:59:02,2017-09-19 09:45:35,2017-09-29 00:00:00,2017-09-19 18:34:16,2017-09-20 23:43:48,5
1,PED7352,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE80988,...,jatai,GO,volta redonda,SP,2017-06-28 11:52:20,2017-07-05 02:44:11,2017-07-26 00:00:00,2017-07-05 12:00:33,2017-07-13 20:39:29,5
2,PED32057,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE25492,...,belo horizonte,MG,volta redonda,SP,2018-05-18 10:25:53,2018-05-23 10:56:25,2018-06-07 00:00:00,2018-05-23 14:05:00,2018-06-04 18:34:26,4
3,PED42988,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE22915,...,sao jose dos pinhais,PR,volta redonda,SP,2017-08-01 18:38:42,2017-08-07 18:55:08,2017-08-25 00:00:00,2017-08-02 19:07:36,2017-08-09 21:26:33,5
4,PED48148,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE2591,...,conselheiro lafaiete,MG,volta redonda,SP,2017-08-10 21:48:40,2017-08-16 22:05:11,2017-09-01 00:00:00,2017-08-11 19:43:07,2017-08-24 20:04:21,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118313,PED97807,PROD12741,moveis_decoracao,2.0,1000.0,69.0,11.0,11.0,VEND1817,CLIENTE65859,...,rio de janeiro,RJ,curitiba,PR,2017-04-19 10:20:51,2017-04-27 05:10:28,2017-05-22 00:00:00,2017-05-04 15:06:24,2017-05-24 10:52:43,4
118314,PED98085,PROD9858,eletronicos,3.0,500.0,17.0,9.0,25.0,VEND2705,CLIENTE45692,...,limeira,SP,curitiba,PR,2017-08-11 10:15:22,2017-08-17 02:55:27,2017-09-04 00:00:00,2017-08-14 22:03:19,2017-08-17 17:47:55,4
118315,PED98298,PROD21768,pcs,4.0,5660.0,54.0,18.0,47.0,VEND2916,CLIENTE21171,...,vitoria,ES,londrina,PR,2018-07-25 18:10:17,2018-08-02 04:05:13,2018-08-10 00:00:00,2018-08-03 14:42:00,2018-08-15 14:57:50,1
118316,PED98461,PROD10190,bebidas,1.0,2000.0,19.0,38.0,19.0,VEND2507,CLIENTE51136,...,cacapava,SP,sao paulo,SP,2018-04-12 19:47:40,2018-04-18 20:10:33,2018-04-30 00:00:00,2018-04-18 00:41:29,2018-04-20 17:48:39,5
118317,PED98461,PROD10190,bebidas,1.0,2000.0,19.0,38.0,19.0,VEND2507,CLIENTE51136,...,cacapava,SP,sao paulo,SP,2018-04-12 19:47:40,2018-04-18 20:10:33,2018-04-30 00:00:00,2018-04-18 00:41:29,2018-04-20 17:48:39,5

In [102]:
dados_selecionados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118318 entries, 0 to 118317
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   codigo_pedido             118318 non-null  object
 1   codigo_produto            118318 non-null  object
 2   nome_categoria_produto    118318 non-null  object
 3   quantidade_fotos_anuncio  118318 non-null  float64
 4   peso_produto_gramas       118318 non-null  float64
 5   comprimento_produto_cm    118318 non-null  float64
 6   altura_produto_cm         118318 non-null  float64
 7   largura_produto_cm        118318 non-null  float64
 8   codigo_vendedor           118318 non-null  object
 9   codigo_cliente            118318 non-null  object
 10  status_pedido             118318 non-null  object
 11  preco                     118318 non-null  float64
 12  valor_frete               118318 non-null  float64
 13  tipo_pagamento            118315 non-null  object
 14  valor_total_pagamento     118315 non-null  float64
 15  cidade_cliente            118318 non-null  object
 16  estado_cliente            118318 non-null  object
 17  cidade_vendedor           118318 non-null  object
 18  estado_vendedor           118318 non-null  object
 19  order_purchase_timestamp  118318 non-null  datetime64[ns]
 20  data_limite_envio         118318 non-null  object
 21  data_estimada_entrega     118318 non-null  object
 22  data_estimada_envio       117064 non-null  object
 23  data_entrega_cliente      115730 non-null  object
 24  nota_cliente              118318 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(1), object(15)
memory usage: 23.5+ MB

In [101]:
dados_selecionados.loc[:, 'order_purchase_timestamp'] = pd.to_datetime(dados_selecionados['order_purchase_timestamp'], format='%Y-%m-%d %H:%M:%S')

<h1 style='color:green'>O que falta:</h1>
<ul style='color:green'>
    <li><s>Tratar os NaN que estão discrepantes.</s></li>
    <li>Fazer a nova coluna de horário e data da compra.</li>
    <li>Fazer o gropby dos pedidos idênticos, mas de produtos diferentes.</li>
    <li>Tratar as colunas de data.</li>
    <li>Perguntas de casos</li>

</ul>

<h3 style='color:green'>Perguntas de caso: </h3>
<ol style='color:green'>
    <li>Horário de pico de pedidos no site.</li>
    <li>Média de tempo de entrega entre estados. *</li>
    <li>Relação do frete com a distância e dimensões.</li>
    <li>Item mais vendido.</li>
    <li>Categoria do item mais vendido.</li>
    <li>Análise das datas comemorativas, tem mais vendas (mês mas vendas, ano com mais vendas)?</li>
    <li>Top 10 melhores vendedores, suas localidades e categoria.</li>
    <li>Quais as regiões com mais compras na região Sul.</li>
    <li>Categorias, produtos e vendedores com as maiores notas.</li>
    <li>Possíveis causas dos cancelamentos e sua porcentagem no total de pedidos.</li>
    <li>Análise do melhor comprador (items comprados e valor).</li>
    <li>Fazer categorias para os melhores compradores.</li>
    <li>Encontrar bons compradores mas que compram pouco, para oferecer vantagens.</li>
    <li>Fazer uma análise das formas de pagamento. As mais utilizadas.</li>
    <li>Média de ganho mensal do melhor vendedor.</li>
    
</ol>

In [39]:
dados_selecionados['codigo_pedido'].nunique()

98666

In [40]:
dados_selecionados = dados_selecionados.dropna(subset=['codigo_produto'])

<h2 style='color:green'>Tratamento NaN</h2>

In [41]:
dados_selecionados

,codigo_pedido,codigo_produto,nome_categoria_produto,quantidade_fotos_anuncio,peso_produto_gramas,comprimento_produto_cm,altura_produto_cm,largura_produto_cm,codigo_vendedor,codigo_cliente,...,cidade_cliente,estado_cliente,cidade_vendedor,estado_vendedor,order_purchase_timestamp,data_limite_envio,data_estimada_entrega,data_estimada_envio,data_entrega_cliente,nota_cliente
0,PED0,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE65557,...,campos dos goytacazes,RJ,volta redonda,SP,2017-09-13 08:59:02,2017-09-19 09:45:35,2017-09-29 00:00:00,2017-09-19 18:34:16,2017-09-20 23:43:48,5
1,PED7352,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE80988,...,jatai,GO,volta redonda,SP,2017-06-28 11:52:20,2017-07-05 02:44:11,2017-07-26 00:00:00,2017-07-05 12:00:33,2017-07-13 20:39:29,5
2,PED32057,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE25492,...,belo horizonte,MG,volta redonda,SP,2018-05-18 10:25:53,2018-05-23 10:56:25,2018-06-07 00:00:00,2018-05-23 14:05:00,2018-06-04 18:34:26,4
3,PED42988,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE22915,...,sao jose dos pinhais,PR,volta redonda,SP,2017-08-01 18:38:42,2017-08-07 18:55:08,2017-08-25 00:00:00,2017-08-02 19:07:36,2017-08-09 21:26:33,5
4,PED48148,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE2591,...,conselheiro lafaiete,MG,volta redonda,SP,2017-08-10 21:48:40,2017-08-16 22:05:11,2017-09-01 00:00:00,2017-08-11 19:43:07,2017-08-24 20:04:21,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118313,PED97807,PROD12741,moveis_decoracao,2.0,1000.0,69.0,11.0,11.0,VEND1817,CLIENTE65859,...,rio de janeiro,RJ,curitiba,PR,2017-04-19 10:20:51,2017-04-27 05:10:28,2017-05-22 00:00:00,2017-05-04 15:06:24,2017-05-24 10:52:43,4
118314,PED98085,PROD9858,eletronicos,3.0,500.0,17.0,9.0,25.0,VEND2705,CLIENTE45692,...,limeira,SP,curitiba,PR,2017-08-11 10:15:22,2017-08-17 02:55:27,2017-09-04 00:00:00,2017-08-14 22:03:19,2017-08-17 17:47:55,4
118315,PED98298,PROD21768,pcs,4.0,5660.0,54.0,18.0,47.0,VEND2916,CLIENTE21171,...,vitoria,ES,londrina,PR,2018-07-25 18:10:17,2018-08-02 04:05:13,2018-08-10 00:00:00,2018-08-03 14:42:00,2018-08-15 14:57:50,1
118316,PED98461,PROD10190,bebidas,1.0,2000.0,19.0,38.0,19.0,VEND2507,CLIENTE51136,...,cacapava,SP,sao paulo,SP,2018-04-12 19:47:40,2018-04-18 20:10:33,2018-04-30 00:00:00,2018-04-18 00:41:29,2018-04-20 17:48:39,5
118317,PED98461,PROD10190,bebidas,1.0,2000.0,19.0,38.0,19.0,VEND2507,CLIENTE51136,...,cacapava,SP,sao paulo,SP,2018-04-12 19:47:40,2018-04-18 20:10:33,2018-04-30 00:00:00,2018-04-18 00:41:29,2018-04-20 17:48:39,5

In [42]:
119151 - 118318

833

In [43]:
data_compra = dados_selecionados['order_purchase_timestamp']

In [45]:
data_compra = data_compra.tolist()

In [46]:
horario_compra = []

In [47]:
for i in range(0, len(data_compra)):
    horario_compra.append(data_compra[i][11:])

In [48]:
horario_compra[0]

'08:59:02'

In [49]:
dia_compra = []

In [50]:
for i in range(0, len(data_compra)):
    dia_compra.append(data_compra[i][:10])

In [51]:
dia_compra[0]

'2017-09-13'

In [52]:
from datetime import datetime, date

In [54]:
dia_compra = [datetime.strptime(data, '%Y-%m-%d') for data in dia_compra]

In [55]:
dia_compra[0].strftime("%d/%m/%y")

'13/09/17'

In [57]:
dia_compra_formatado = [data.strftime("%d/%m/%y") for data in dia_compra]
dia_compra_df = pd.DataFrame({'horario_compra': hora_compra_format})

In [60]:
dia_compra_formatado[0:11]

['13/09/17',
 '28/06/17',
 '18/05/18',
 '01/08/17',
 '10/08/17',
 '27/07/17',
 '18/03/18',
 '05/08/17',
 '05/08/17',
 '05/06/17',
 '05/06/17']

In [76]:
from datetime import time
hora_compra_format = [time(*map(int, hora.split(':'))) for hora in horario_compra]
hora_compra = pd.DataFrame({'horario_compra': hora_compra_format})
hora_compra['horario_compra'] = pd.to_datetime(hora_compra['horario_compra'], format='%H:%M:%S').dt.time
hora_compra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118318 entries, 0 to 118317
Data columns (total 1 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   horario_compra  118318 non-null  object
dtypes: object(1)
memory usage: 924.5+ KB

In [84]:
hora_compra.sort_index(ascending=False)

       horario_compra
118317       19:47:40
118316       19:47:40
118315       18:10:17
118314       10:15:22
118313       10:20:51
...               ...
4            21:48:40
3            18:38:42
2            10:25:53
1            11:52:20
0            08:59:02

[118318 rows x 1 columns]

In [88]:
hora_compra['horario_compra'] = pd.to_datetime(hora_compra['horario_compra'], format='%H:%M:%S').dt.time

In [109]:
dia_hora_compra = pd.DataFrame({'Data': dados_selecionados['order_purchase_timestamp'].dt.date,'Hora': dados_selecionados['order_purchase_timestamp'].dt.time})
dia_hora_compra

              Data      Hora
0       2017-09-13  08:59:02
1       2017-06-28  11:52:20
2       2018-05-18  10:25:53
3       2017-08-01  18:38:42
4       2017-08-10  21:48:40
...            ...       ...
118313  2017-04-19  10:20:51
118314  2017-08-11  10:15:22
118315  2018-07-25  18:10:17
118316  2018-04-12  19:47:40
118317  2018-04-12  19:47:40

[118318 rows x 2 columns]

In [124]:
data_hora_compra = pd.DataFrame({'order_purchase_timestamp': dados_selecionados['order_purchase_timestamp']})
data_hora_compra.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118318 entries, 0 to 118317
Data columns (total 1 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   order_purchase_timestamp  118318 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 1.8 MB

In [156]:
dia_hora_compra = pd.DataFrame({'Data': data_hora_compra['order_purchase_timestamp'].dt.date,'Hora': data_hora_compra['order_purchase_timestamp'].dt.time})
dia_hora_compra['Data'] = pd.to_datetime(dia_hora_compra['Data']).dt.date
dia_hora_compra['Hora'] = pd.to_datetime(dia_hora_compra['Hora'], format='%H:%M:%S').dt.time

In [157]:
dia_hora_compra.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118318 entries, 0 to 118317
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Data    118318 non-null  object
 1   Hora    118318 non-null  object
dtypes: object(2)
memory usage: 2.7+ MB

<h2 style='color:green'>Horário da coluna order_purchase_timestamp separado em data e hora e o dtypes ajustado </h2>

In [166]:
dia_hora_compra = pd.DataFrame({'Data': dados_selecionados['order_purchase_timestamp'].dt.date,'Hora': dados_selecionados['order_purchase_timestamp'].dt.time})
dia_hora_compra['Data'] = pd.to_datetime(dia_hora_compra['Data'])
dia_hora_compra['Hora'] = pd.to_datetime(dia_hora_compra['Hora'], format='%H:%M:%S')

In [167]:
dia_hora_compra.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118318 entries, 0 to 118317
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Data    118318 non-null  datetime64[ns]
 1   Hora    118318 non-null  datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 2.7 MB

<h2> Criando df com a hora data estimada e a data de recebimento </h2>

In [177]:
pd.set_option('mode.chained_assignment', None)  # Desativa o SettingWithCopyWarning
dados_selecionados['data_estimada_entrega'] = pd.to_datetime(dados_selecionados['data_estimada_entrega'])
dados_selecionados['data_entrega_cliente'] = pd.to_datetime(dados_selecionados['data_entrega_cliente'])

In [198]:
dia_entregas_recebimentos = pd.DataFrame()
dia_entregas_recebimentos['data_estimada_entrega'] = dados_selecionados['data_estimada_entrega'].dt.date
dia_entregas_recebimentos['data_entrega_cliente'] = dados_selecionados['data_entrega_cliente'].dt.date
dia_entregas_recebimentos['data_compra'] = dia_hora_compra['Data']
dia_entregas_recebimentos['data_estimada_entrega'] = pd.to_datetime(dia_entregas_recebimentos['data_estimada_entrega'])
dia_entregas_recebimentos['data_entrega_cliente'] = pd.to_datetime(dia_entregas_recebimentos['data_entrega_cliente'])

In [199]:
dia_entregas_recebimentos

       data_estimada_entrega data_entrega_cliente data_compra
0                 2017-09-29           2017-09-20  2017-09-13
1                 2017-07-26           2017-07-13  2017-06-28
2                 2018-06-07           2018-06-04  2018-05-18
3                 2017-08-25           2017-08-09  2017-08-01
4                 2017-09-01           2017-08-24  2017-08-10
...                      ...                  ...         ...
118313            2017-05-22           2017-05-24  2017-04-19
118314            2017-09-04           2017-08-17  2017-08-11
118315            2018-08-10           2018-08-15  2018-07-25
118316            2018-04-30           2018-04-20  2018-04-12
118317            2018-04-30           2018-04-20  2018-04-12

[118318 rows x 3 columns]

In [200]:
dia_entregas_recebimentos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118318 entries, 0 to 118317
Data columns (total 3 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   data_estimada_entrega  118318 non-null  datetime64[ns]
 1   data_entrega_cliente   115730 non-null  datetime64[ns]
 2   data_compra            118318 non-null  datetime64[ns]
dtypes: datetime64[ns](3)
memory usage: 3.6 MB